body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

h1,h2,h3,h4,p,div,li,ul,a,div{
    font-family: "Microsoft YaHei" ;
}
h1,h4,a{
    font-weight: lighter;
}
p{
    font-family: "Microsoft YaHei" ;
 }

.icon_content_hotel{
    background-image: url(../img/img_icon/hotel.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon_content_switch{
    background-image: url(../img/img_icon/sm_switch.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}


.icon_content_problem{
    background-image: url(../img/img_icon/problem.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}


.icon_content_install{
    background-image: url(../img/install.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_content_cellphone{
    background-image: url(../img/cellphone.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon_content_data{
    background-image: url(../img/data.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}